
 
.manager-container {
    position: relative; /* Necessary for background image layering */
    display: flex; /* Center elements vertically */
    flex-direction: column; /* Stack elements vertically */
    min-height: 40vh; /* Ensure background covers entire viewport */ /* Light background color for better contrast */
    font-family: Arial, sans-serif; /* Set a basic font */
  }
 
  .manage-products-button {
    margin: auto; /* Center button horizontally */
    padding: 15px 30px; /* Adjust padding */
    border: none; /* Remove default border */
    border-radius: 5px; /* Add rounded corners */
    background-color: #28a745; /* Green button color */
    color: #fff; /* White button text */
    text-transform: uppercase; /* Convert text to uppercase */
    font-size: 16px; /* Set button font size */
    font-weight: bold; /* Make button text bold */
    cursor: pointer; /* Indicate clickable button */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Add subtle shadow */
    transition: background-color 0.2s ease-in-out; /* Add button hover effect */
  }
 
  .manage-products-button:hover {
    background-color: #33b75e; /* Slightly darker green on hover */
  }
 
  .manage-customers-button {
    margin: auto; /* Center button horizontally */
    padding: 15px 30px; /* Adjust padding */
    border: none; /* Remove default border */
    border-radius: 5px; /* Add rounded corners */
    background-color: #28a745; /* Green button color */
    color: #fff; /* White button text */
    text-transform: uppercase; /* Convert text to uppercase */
    font-size: 16px; /* Set button font size */
    font-weight: bold; /* Make button text bold */
    cursor: pointer; /* Indicate clickable button */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Add subtle shadow */
    transition: background-color 0.2s ease-in-out; /* Add button hover effect */
  }
 
  .manage-customers-button:hover {
    background-color: #33b75e; /* Slightly darker green on hover */
  }
  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    z-index: -1;
  }
   
  .background img {
    width: 100%;
    height: 80%;
    object-fit: cover;
  }